<table class="editable-table">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                {{ column.label }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of source">
            <app-editable-table-row *ngFor="let column of columns"
                [value]='data[column.key]'
                [editable]='column.editable'
                [template]='getTemplateByKey(column.key)'
                [type]='getColumnType(column)'
            >
            </app-editable-table-row>
        </tr>
        <tr *ngIf="onNewOutput.observers.length">
            <td><div class="href" (click)="new()">(New)</div></td>
        </tr>
    </tbody>
</table>