<header>
  <a [routerLink]="['/']" preserveQueryParams preserveFragment class="logo">
    <img class="logo__image" src="./assets/logo.png" />
  </a>
  <div class="spacer"></div>
  <div class="title">
    <h1 class="title__header">Policy Family <span style="text-align: left; width: 500px; display: inline-block"
        class="highlight">{{ family?.name }}</span></h1>
  </div>
  <div class="actions">
    <div class="actions__single">
      <button>Reports</button>
    </div>
    <div class="actions__group">
      <button>Guidelines</button>
      <button>Standard</button>
    </div>
    <div class="actions__group">
      <button>Policy Scope</button>
      <button>Policies Overview</button>
    </div>
    <div class="actions__single">
      <button>NIST Assessment</button>
    </div>
    <div class="actions__single">
      <button>CMMC</button>
    </div>
  </div>
  <div class="policy">
    <p class="policy__records highlight">Record {{ id }} of {{ policyLength }}</p>
    <div class="policy__lower">

      <p class="policy__title">Policy Status</p>
      <select>
        <option>Implemented</option>
        <option>Deficiency</option>
        <option>In Progress</option>
        <option>Not Implemented</option>
      </select>

      <div class="policy__actions">
        <button (click)="first()">█⯇</button>
        <button (click)="previous()">⯇</button>
        <button (click)="next()">⯈</button>
        <button (click)="last()">⯈█</button>
      </div>
    </div>
  </div>
</header>
<main class="basic-container">
  <div class="left">
    <div class="left--float">
      <div class="row">
        <p>Policy Subtitle: </p>
        <span style="width: 65%; display: inline-block;" class="highlight">{{ policy?.name }}</span>
      </div>
      <div class="row">
        <p>Policy Number: </p>
        <span style="width: 6%; display: inline-block;" class="highlight">{{ getLatestRevision(policy).number }}</span>
        <p>Policy Issue Date: </p>
        <span style="width: 9%; display: inline-block;" class="highlight">&nbsp;</span>
        <p>Policy Revision Number: </p>
        <span style="width: 6%; display: inline-block;" class="highlight">&nbsp;</span>
        <p>Policy Revision Date: </p>
        <span style="width: 9%; display: inline-block;" class="highlight">&nbsp;</span>
      </div>
      <div class="row">
        <p>NIST 800-171 Mapping:</p>
        <span style="width: 25%; display: inline-block;" class="highlight">{{ policy?.nist }}</span>
        <p>Task Type:</p>
        <span style="width: 50%; display: inline-block;" class="highlight">{{ policy?.taskType }}</span>
      </div>
      <div class="row">
        <p>CMMC Mapping:</p>
        <span style="width: 40%; display: inline-block;" class="highlight">{{ policy?.cmmc }}</span>
        <p>CMMC Level:</p>
        <span style="width: 10%; display: inline-block;" class="highlight">{{ policy?.level }}</span>
      </div>
    </div>
    <div class="clearbreak">
      <h2 class="nospacer">Policy Objective</h2>
      <div class="fixed-height highlight" [innerHTML]="getLatestRevision(policy).objective?.text"></div>
    </div>
    <div class="clearbreak">
      <h2 class="nospacer">Deficiency List</h2>
      <div class="fixed-height highlight">
        <app-editable-table (onNew)="openCreateDeficiencyForm()" [source]="getDeficiencies() | async" [columns]="[
            { key: 'id', editable: false, label: 'POAM ID' },
            { key: 'name', editable: true, label: 'Deficiency Name'},
            { key: 'dateDetection', editable: true, type: 'date', label: 'Detection Date'},
            { key: 'dateStatus', editable: true, type: 'date', label: 'Status Date'},
            { key: 'status', editable: true, label: 'Status'},
            { key: 'totalMilestones', editable: true, label: 'Total Milestones'}
            ]">
          <app-template-name name="id">
            <ng-template let-value>
              <span (click)="openDeficiencyForm(value)" class="href">{{ value }}</span>
            </ng-template>
          </app-template-name>
          <app-template-name name="dateDetection">
            <ng-template let-value>
              {{ getDateFormat(value) }}
            </ng-template>
          </app-template-name>
          <app-template-name name="dateStatus">
            <ng-template let-value>
              {{ getDateFormat(value) }}
            </ng-template>
          </app-template-name>
        </app-editable-table>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="right__above">
      <h4 class="nospacer">Control</h4>
      <div class="fixed-height fixed-height--small highlight"
        [innerHTML]="getLatestRevision(policy).procedureControl?.control"></div>
    </div>
    <div class="right__above">
      <h4 class="nospacer">Procedure Roles</h4>
      <div class="fixed-height fixed-height--small highlight"
        [innerHTML]="getLatestRevision(policy).procedureControl?.procedure"></div>
    </div>
    <div class="clearbreak">
      <h2 class="nospacer">Policy Procedure</h2>
      <div class="fixed-height highlight" [innerHTML]="getLatestRevision(policy).procedure?.text "></div>
    </div>
    <div class="">
      <h2 class="nospacer">Process List</h2>
      <div class="fixed-height highlight">
        <app-editable-table [source]="getLatestRevision(policy).processes" [columns]="[
          { key: 'procedure', editable: true, label: 'Procedure'},
          { key: 'description', editable: true, label: 'Description'},
          { key: 'hyperlink', editable: true, label: 'Hyperlink'},
          { key: 'status', editable: true, label: 'Status'}
          ]">
          <app-template-name name="hyperlink">
            <ng-template let-value>
              <a href="{{ value }}" target="_blank">{{ value }}</a>
            </ng-template>
          </app-template-name>
        </app-editable-table>
      </div>
    </div>
  </div>
</main>