@import './../styles/variables.scss';

.left {
    width: 48%;
    display: inline-block;
    &--float {
        height: 105px;
    }
}

.row {
    display: block;
    p {
        display: inline-block;
        margin: 0;
        padding: 4px;
    }
}

.right {
    width: 48%;
    display: inline-block;
}

.right__above {
    float: left;
    width: 49%;
    height: 105px;
}

textarea.large {
    width: 99%;
    height: 25em;
}

label {
    font-size: 12px;
}

textarea {
    color: $black;
    background: $white;
//  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}

h2 {
    color: $black;
}

.highlight {
    background: $white;
    color: $black;
    padding: 1pt;
    border: 1px solid $black;
}

.fixed-height {
    height: 400px;
    overflow-y: scroll;
}

.fixed-height--small {
    height: 65px
}