@import './app/styles/variables';

body {
  margin: 0 auto;
  padding: 0;
  background: $black;
  color: $black;
  width: 1890px; // Fixed page layout for now
}

main {
  padding: 0.5%;
  background: $grey;
  min-height: 500px;
}

a {
  color: $blue;
}